@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", serif;
    --green: #06f9b7;
    --grey-bg: #f8fafa;
    --grey-text:#474747;

}

.portfolio{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-top {
    width: 100%;
}

.port-heading h2 {
    font-weight: 800;
    font-size: 4rem ;
    margin-bottom: 0;
}
.port-heading span {
    color: var(--green);

}
.portfolio-top p{
    margin-top: 1rem;
    color: var(--grey-text);
}

.portfolio-links {
    margin-top: 3rem;
}

.portfolio-links a {
    text-decoration: none;
    font-weight: 600;
    margin-right: 2rem;
    color: black;
}

.portfolio-links a:first-child{
    color: var(--green);
}

.gallery-section {
    width: fit-content;
    margin: 0 auto;
}

.gallery-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 0;
}

.gallery-container img {
    margin: 0;
    padding: 0;
    display: block;
    width: 450px;
    height: 450px;
    margin-bottom: 0;
    object-fit: cover;
}

.testimonials-section {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.testim-left-container {
    flex: 3;    
    position: relative;
    background: url(/images/7.jpg) center/cover no-repeat;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    margin-left: 0;
    color: black;
}

.testim-left-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #06f9b8e3;
    z-index: 1;
}

.testim-contents {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 12rem;
    margin-right: 2rem;
    width: 60%;
}

.testim-left-container p,
.testim-left-container i {
    position: relative;
    z-index: 2;
}

.quote-icon {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.testim-text {
    font-size: 1.4rem;
    font-weight: 600;

}

.testim-author {
    font-size: 1.4rem;
    font-weight: 600;
}

.testim-author span {
    color: #fff;
}

.testim-right-container {
    flex: 2;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
}

.testim-title {
    display: inline-block;
    align-self: start;
    position: relative;
    margin-bottom: 5rem;
    margin-left: 2rem;
}

.testim-right-container h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    text-decoration-line: calc(15px);
}

.green-testim-line {
        position: absolute; 
        left: -40px;
        top: 75%;
        width: 120px;
        height: 5px;
        background: var(--green);
        transform: translateY(-25%);
        z-index: -1;
}

.green-testim-box {
        background: var(--green);
        padding: 5rem 3rem;
        margin-bottom: 1rem;
        margin-left: 0;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        gap: 3rem;
}

.testim-button-collection {
    display: inline-block;
    align-self: start;
    position: relative;
    margin-bottom: 5rem;
    margin-left: 2rem;
}

.testim-button {
    display: inline-block;
    color: black;
    margin-right: 2.5rem;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px 30px;
}

.testim-button i{
    color: white;
    font-size: 10px;
    margin-right: 10px;
}

.white-testim-line {
    position: absolute; 
    right: 20px;
    top: 50%;
    width: 40px;
    height: 1px;
    background: #fff;
    transform: translateY(-40%);
    z-index: 3;
}

.testim-icons i{
    font-size: 10px;
    margin-right: 10px;
} 

.testim-vertical-text {
    transform: rotate(-90deg);
    position: absolute;
    right: 0;
    margin-top: 4rem;
}