@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", serif;
    --green: #06f9b7;
    --grey-bg: #f8fafa;
   --grey-text:#474747;
    margin: 0;
}

.green{
    color: var(--green);
}

h2{
    font-size: 40px
}

.aboutus{
    margin: auto;
    width: 1000px;
}

.aboutus .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 50px;
}

.aboutus .grid i{
    font-size: 4rem;
}

.aboutus .grid div{
    width: 200px;
}

.aboutus p{
    font-size: small;
}

.aboutus .position{
    position: relative;
}

.aboutus .position div{
    background-color: var(--green);
    width: 140px;
    height: 8px;
    position: absolute;
    z-index: -999;
    top: 30px;
}
//gwen


.pagina {   
    position: relative;
    top:0px;
    z-index: 1;
    width: 1200px;
    min-width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 2rem auto;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-x: auto;
    overflow-x: visible;
}

.header_color {
    position: absolute;
    min-width: 1300px;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.header_color img {
    width: 100%;
    height: auto; 
    display: block; 
}

.headZwart, .headGroen {
    position: absolute;
    top: 0;
    height: 100%; 
    width: 60%; 
    background: rgba(0, 0, 0, 0.6); 
}

.headZwart {
    left: 0;
}

.headGroen {
    left: 60%;
    width: 45%;
    background: #00ff0099; 
}
.headGroen {
    position: absolute;
    top: 0;
    height: 100%;
    width: 55%;
    background: rgba(0, 0, 0, 0.9);
    left: 60%;  
    width: 45%; 
    background: #06f9b8b8
}

.headNav {
    display: grid;
    grid-template-columns: 6fr 8fr;
    align-items: center;
    padding: 25px;
}

.headNavLogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.rechts {
    justify-self: end;
}

.helali {
    font-size: 20px;
    font-style: italic;
}

.HeadNavNavigatie {
    display: grid;
    grid-template-columns: repeat(6,1fr)
}

.headwit {
    color: white;
}

.headMidden {
    margin-top: 50px;
    padding-top: 50px;
    font-size: 60px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 6fr 4fr;
}
.weare {
    justify-self: end;
    margin-right: 20px;      
}
.creative {
    margin-left: 50px;
}

.headButton {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 6fr 4fr;

}
.headButtonLeft {
    justify-self: end;
}

.headButtonbut {
    font-size: 30px;
    border: 2px solid white;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    padding: 10px 50px;
}   

.headBeneden {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.headux {
    font-size: 140px;
    font-weight: 900;
    color: black;
}

.headpuntje{
    color:white;
}
    
.fa {
  width: 60px;
  color:black;
}
//gwen
    
.ourServicesbg{
    background-color: var(--grey-bg);
    padding: 80px;
    margin-top: 80px;
}

.ourServices{
    margin: auto;
    width: 1000px;
}
.ourServices .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 50px;
    position: relative;
}

.ourServices .grid div{
    width: 200px;
}

.ourServices .grid .position i{
    font-size: 2rem;
}

.ourServices .grid .position .knop{
    margin-top: 25px;
    padding: 10px;
    border: solid 2px;
    border-radius: 5px;
    width: 140px;
    font-weight: 600;
    font-size: 14px;
}

.ourServices .grid .lijn{
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: var(--green);
    bottom: 20px;
    left: 140px;
}

.ourServices .grid .lijn2{
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: black;
    bottom: 20px;
    left: 30rem;
}

.ourServices .grid .lijn3{
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: var(--green);
    bottom: 20px;
    right: 130px;
}

.ourServices .grid .position div i{
    font-size: 10px;
    padding-right: 5px;
}

.ourServices p{
    font-size: small;
}

.portfolio{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-top {
    width: 100%;
}

.port-heading h2 {
    font-weight: 800;
    font-size: 4rem ;
    margin-bottom: 0;
}
.port-heading span {
    color: var(--green);

}
.portfolio-top p{
    margin-top: 1rem;
    color: var(--grey-text);
}

.portfolio-links {
    margin-top: 3rem;
}

.portfolio-links a {
    text-decoration: none;
    font-weight: 600;
    margin-right: 2rem;
    color: black;
}

.portfolio-links a:first-child{
    color: var(--green);
}

.gallery-section {
    width: fit-content;
    margin: 0 auto;
}

.gallery-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 0;
}

.gallery-container img {
    margin: 0;
    padding: 0;
    display: block;
    width: 450px;
    height: 450px;
    margin-bottom: 0;
    object-fit: cover;
}

.testimonials-section {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.testim-left-container {
    flex: 3;    
    position: relative;
    background: url(/images/7.jpg) center/cover no-repeat;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    margin-left: 0;
    color: black;
}

.testim-left-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #06f9b8e3;
    z-index: 1;
}

.testim-contents {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 12rem;
    margin-right: 2rem;
    width: 60%;
}

.testim-left-container p,
.testim-left-container i {
    position: relative;
    z-index: 2;
}

.quote-icon {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.testim-text {
    font-size: 1.4rem;
    font-weight: 600;

}

.testim-author {
    font-size: 1.4rem;
    font-weight: 600;
}

.testim-author span {
    color: #fff;
}

.testim-right-container {
    flex: 2;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
}

.testim-title {
    display: inline-block;
    align-self: start;
    position: relative;
    margin-bottom: 5rem;
    margin-left: 2rem;
}

.testim-right-container h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    text-decoration-line: calc(15px);
}

.green-testim-line {
        position: absolute; 
        left: -40px;
        top: 75%;
        width: 120px;
        height: 5px;
        background: var(--green);
        transform: translateY(-25%);
        z-index: -1;
}

.green-testim-box {
        background: var(--green);
        padding: 5rem 3rem;
        margin-bottom: 1rem;
        margin-left: 0;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        gap: 3rem;
}

.testim-button-collection {
    display: inline-block;
    align-self: start;
    position: relative;
    margin-bottom: 5rem;
    margin-left: 2rem;
}

.testim-button {
    display: inline-block;
    color: black;
    margin-right: 2.5rem;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px 30px;
}

.testim-button i{
    color: white;
    font-size: 10px;
    margin-right: 10px;
}

.white-testim-line {
    position: absolute; 
    right: 20px;
    top: 50%;
    width: 40px;
    height: 1px;
    background: #fff;
    transform: translateY(-40%);
    z-index: 3;
}

.testim-icons i{
    font-size: 10px;
    margin-right: 10px;
} 

.testim-vertical-text {
    transform: rotate(-90deg);
    position: absolute;
    right: 0;
    margin-top: 4rem;
}


.contact-section {
    position: relative;
    background: url(/images/8.jpg) center/cover no-repeat;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-left: 0;
    color: #fff;
}

.contact-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000d0;
    z-index: 1;
}

.contact-overlay {
    z-index: 6; 
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
}

.contact-overlay h2 {
    font-size: 3rem;
}

.contact-overlay span {
    color: var(--green);
}

.contact-button-collection {
    display: inline-block;
    position: relative;
    margin-bottom: 5rem;
    margin-left: 2rem;
}

.contact-button {
    display: inline-block;
    color: var(--green);
    margin-right: 2.5rem;
    text-decoration: none;
    border: 1px solid var(--green);
    border-radius: 4px;
    padding: 15px 30px;
}

.contact-button i{
    color: #fff;
    font-size: 10px;
    margin-right: 10px;
}

.white-contact-line {
    position: absolute; 
    right: 20px;
    top: 50%;
    width: 40px;
    height: 1px;
    background: #fff;
    transform: translateY(-40%);
    z-index: 3;
}